<<<<<<< HEAD
/* HTML Tags */
header {
    height: 3rem;
    margin-bottom: 15px;
    font-size: xx-large;
}

.text-contrast {
    color: white;
}

body {
    margin: 0px;
}

div.body {
    margin: 0px 8px 8px 0px;

}
/* Colors */ 
.pri700 {
    background-color: #512DA8;
}

.pri500 {
    background-color: #673AB7; 
}

.pri200 {
    background-color: #B39DDB;
}


.header-shadow {
    box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
}

.header-text-layout {
    margin-right: 100px;
    margin-top: 15px;
    padding: 0px 0px 0px 50px;
    padding-top: 15px;

}


.text-font {
    font-family:Arial, Helvetica, sans-serif;
}
=======

div {
    background-color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    display: inline-flexbox;
}

.test1 {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #311B92;
    
    display: inline-flex;
}


.pri500 {
    background-color: #673AB7;
    height: 2.5rem;
    color: white;
    font-size: xx-large;
    
}

.pri700 {
    background-color: #512DA8;
}

body {
    margin: 0pt;
    border: 0pt;

}

.bs {
    box-shadow: 5px 10px;
} 

>>>>>>> df8f26b20c4b7b56ffe9bab706c711d1d3136f7e
